body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body, html {
  overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1024px;
}

ul {
	list-style: none;
	padding: 0px;
}

button {
	cursor: pointer;
}

nav {
	min-height: 45px;
	background-color: #4cb1ca;
	color: #fff;
	font-size: 13px;
}

nav .wrapper, header .wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav .nav-left {
	display: flex;
}

nav .nav-left p:nth-child(2) {
	margin-left: 20px;
}

nav .nav-left p span {
	margin-right: 7px;
	color: #bef2ff;
}

nav .nav-left select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	padding-right: 12px;
	background: transparent url(../img/select.png) no-repeat right center;
	border: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

nav .nav-left select option {
	color: #000;
}

nav .nav-right {
	text-align: right;
}

nav .nav-right .hamburger {
	display: none;
}

nav .nav-right ul {
	display: flex;
}

nav .nav-right ul li {
	background: url(../img/nav-list.jpg) no-repeat left center;
	padding: 0 15px;
}

nav .nav-right ul li:first-child {
	padding-left: 0;
	background: none;
}

nav .nav-right ul li:last-child {
	padding-right: 0;
}

nav .nav-right a {
	text-decoration: none;
	color: #fff;
}

nav .nav-right a:hover {
	color: #bef2ff;
}

header {
	align-items: center;
	color: #656565;
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
}

header .wrapper {
	min-height: 100px;
	align-items: center;
}

header .icon {
	min-width: 110px;
	font: 600 36px "Open Sans Bold", sans-serif;
}

header .head_nav {
	display: flex;
	font-size: 14px;
	margin-right: 100px;
}

header .head_nav li {
	margin-right: 10px;
}

header .head_nav li:last-child {
	margin-right: 0;
}

header .head_nav a {
	text-decoration: none;
	color: #656565;
}

header .head_nav a:hover {
	color: #d4d4d4;
}

header .search_block {
	display: flex;
	align-items: center;
}

header .search_block input {
	text-transform: none;
	font: 13px "Open Sans Regular", sans-serif;
	width: 162px;
	height: 25px;
	border: 1px solid #c6c6c6;
	padding-left: 10px;
	background: url(../img/search.png) no-repeat 95%;
}

header .search_block input::placeholder {
  color: #B7B7B7;
}

header .search_block input:-ms-input-placeholder {
  color: #B7B7B7;
}

header .search_block img {
	margin-left: 5px;
}

header .search_block .cart {
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
}

.banners {
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
}

.banners div img {
	width: 100%;
	margin: 0 auto;
}

.banners .owl-nav .owl-prev, .banners .owl-nav .owl-next {
	position: absolute;
	top: 0;
	bottom: 0;
	outline: none;
}

.banners .owl-nav .owl-prev {
	left: 10%;
}

.banners .owl-nav .owl-next {
	right: 10%;
}

.banners .owl-dots {
	position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.banners .owl-dots .owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffffff80;
	margin: 0 5px;
}

.banners .owl-dots .owl-dot.active {
	background-color: #ffffffd9;
}

.banners .tagline {
	height: fit-content;
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 17%;
	top: 0;
	text-align: left;
	color: #fff;
}

.banners .tagline div {
	font-size: 25px;
	width: fit-content;
	padding: 10px 15px;
	background-color: #0000004d;
}

.content {
	padding: 40px 0;
}

.content .wrapper {
	display: flex;
	justify-content: space-between;
}

.content .products {
	max-width: 760px;
}

.content .products h2 {
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
}

.content .prod-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content .prod {
	position: relative;
	width: 233px;
	height: 318px;
	box-sizing: border-box;
	padding: 8px;
	margin-bottom: 27px;
	box-shadow: 0 0 1px rgba(138, 138, 138, 0.5);
}

.content .prod.sale:after {
	content: "";
	width: 96px;
	height: 93px;
	background: url(../img/sale.png);
	position: absolute;
	left: -3px;
	top: -3px;
}

.content .prod.new:before {
	content: "";
	width: 96px;
	height: 93px;
	background: url(../img/new.png);
	position: absolute;
	right: -3px;
	top: -3px;
}

.prod .info {
	width: 100%;
	height: 47px;
	display: flex;
}

.prod .info p {
	font-size: 14px;
	width: 170px;
	margin: 0;
}

.prod .info .price {
	font-size: 16px;
	color: #92bd52;
}

.prod .info .old_price {
	text-decoration: line-through;
}

.content .right {
	width: 233px;
}

.content .right .right_block {
	box-shadow: 0 0 1px rgba(138, 138, 138, 0.5);
	border-top: 4px solid #4cb1ca;
}

.content .right h2 {
	margin: 26px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 100;
}

.content .right .featured {
	margin-bottom: 25px;
	box-sizing: border-box;
	padding: 13px;
	padding-top: 0;
}

.content .featured .img_block {
	position: relative;
}

.content .featured .f_button {
	background-color: #4cb1ca;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	width: 132px;
	height: 44px;
	margin: auto;
	position: absolute;
	right: 0;
	bottom: 16px;
	left: 0;
}

.content .featured .f_button:hover {
	background-color: #4ca2b7;
}

.content .right .news {
	padding: 0 22px 31px;
	text-align: center;
}

.content .right .news p {
	margin: 0;
	text-align: center;
	color: #696969;
	font-size: 14px;
	padding-bottom: 14px;
	background: url(../img/line.jpg) no-repeat bottom center;
}

.content .right .news input {
	border: 1px solid #e2e2e2;
	width: 100%;
	height: 30px;
	margin: 14px auto;
	box-sizing: border-box;
	padding: 5px 10px;
}

.content .news .n_button {
	background-color: #7eb123;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	width: 112px;
	height: 44px;
	margin: auto;
}

.content .news .n_button:hover {
	background-color: #709c20;
}

.information {
	background-color: #4cb1ca;
	height: 105px;
}

.information .wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.information .inf_block {
	display: flex;
    align-items: center;
}

.information .inf_block img {
	height: 65px;
	margin-right: 20px;
}


.information .inf_block p {
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
}

footer {
	background-color: #0b4b5a;
	height: 60px;
	font-size: 13px;
	color: #8ADCF0;
}

footer .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

footer .foot_block ul {
	display: flex;
}

footer .foot_block ul li {
	background: url(../img/nav-list.jpg) no-repeat left center;
    padding: 0 15px;
}

footer .foot_block ul li:first-child {
    padding-left: 0;
    background: none;
}

footer .foot_block ul li:last-child {
	padding-right: 0;
}

footer .foot_block a {
    text-decoration: none;
    color: #8ADCF0;
}

footer .foot_block a:hover {
	color: #70a7b5;
}

@media screen and (max-width: 1024px) {
	nav {
		font-size: 20px;
	}

	nav .nav-left select {
		font-size: 20px;
	}

	header {
		padding-bottom: 20px;
	}

	header .icon {
    	width: 110px;
    }

	header .head_nav {
		font-size: 20px;
		margin-right: 0;
	}

	header .head_nav li {
	    margin-right: 25px;
	}

	header .search_block input {
		font-size: 16px;
		height: 35px;
	}

	header .search_block .cart {
    	font-size: 16px;
    }

	.wrapper {
		width: 95%;
	}

	.banners .owl-nav .owl-prev {
		left: 5%;
	}

	.banners .owl-nav .owl-next {
		right: 5%;
	}

	.content .products {
	    max-width: 720px;
	}

	footer {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	nav .wrapper {
		justify-content: center;
	}

	header {
    	padding-top: 20px;
    }

    header .icon {
	    width: 100%;
	    text-align: center;
	}

	header .head_nav li {
    	margin-right: 15px;
    }

	header .search_block input {
		width: 115px;
	}

	.banners .owl-nav img {
	    width: 50px;
	}

	.content .products {
	    max-width: 480px;
	}

	footer {
		height: auto;
	}

	footer .wrapper {
	    justify-content: center;
	    flex-wrap: wrap;
	}
}

@media screen and (max-width: 480px) {
	nav .wrapper {
		justify-content: space-between;
	}

	nav .nav-left {
		flex-direction: column;
	}

	nav .nav-left p {
		margin: 10px 0;
	}

	nav .nav-left p:nth-child(2) {
		margin-top: 0;
		margin-left: 0;
	}

	nav .nav-right .menu-list {
		display: none;
	    position: fixed;
	    flex-direction: column;
	    background: #3e3e3eb8;
	    margin-top: 0;
	    left: 0;
	    text-align: center;
	    box-sizing: border-box;
	    width: 50%;
	    padding: 50px;
	    font-size: 24px;
	    height: 100%;
    	z-index: 99;
    	overflow-y: scroll;
	}

	nav .nav-right ul li {
		background-image: none;
		padding: 0;
		margin-bottom: 35px;
	}

	nav .nav-right .menuS {
		display: block;
	}

	nav .nav-right .hamburger {
		display: block;
		margin-top: 10px;
		outline: none;
	}

	header .head_nav {
		width: 100%;
		flex-direction: column;
		text-align: center;
		font-size: 25px;
	}

	header .head_nav li {
		margin-right: 0;
		padding: 15px 0;
		position: relative;
	}

	header .head_nav li:after {
		content: "";
		width: 50px;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -25px;
		background: #d4d4d4;
	}

	header .head_nav li:last-child:after {
		content: none;
	}

	header .search_block {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	header .search_block input {
		width: 90%;
		margin-bottom: 10px;
	}

	.banners img.ban_img {
		display: none;
	}

	.banner_1, .banner_2 {
		width: 100%;
		height: 195px;
		background: url(../img/banner-1.jpg) no-repeat;
		background-size: cover;
	}

	.banners .tagline div {
    	font-size: 20px;
    }

	.content .wrapper {
		flex-direction: column-reverse;
	}

	.content .right {
		margin: 0 auto;
	}

	.content .products {
		margin-top: 50px;
  		text-align: center;
	}

	.content .prod-list {
		justify-content: center;
	}

	.content .right .news p {
		font-size: 18px;
	}

	.content .right .news input {
	    height: 40px;
    	font-size: 16px;
	}

	.content .featured .f_button, .content .news .n_button {
		font-size: 16px;
	}

	.content .prod {
		height: auto;
	}

	.prod .info {
		height: auto;
		display: block;
	}

	.prod .info p {
		width: 100%;
		font-size: 18px;
    	margin: 10px 0;
	}

	.prod .info .price {
		font-size: 18px;
	}

	.information {
		height: auto;
	}

	.information .wrapper {
		display: block;
	}

	footer .wrapper {
		flex-wrap: wrap-reverse;
	}

	footer .foot_block ul {
		flex-direction: column;
	}

	footer .foot_block ul li {
		background-image: none;
		padding: 10px 0;
		text-align: center;
		position: relative;
	}

	footer .foot_block ul li:after {
	    content: "";
	    width: 50px;
	    height: 1px;
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -25px;
	    background-color: #8adcf0;
	}

	footer .foot_block ul li:last-child:after {
		content: none;
	}
}

@media screen and (max-width: 380px) {
	nav .nav-right .menu-list {
		padding: 35px;
	}
}

@media screen and (max-width: 320px) {
	.banner_1, .banner_2 {
		height: 170px;
	}
}